<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container text-center">
    <h1> GetSongs Page</h1>
</div>
</body>
</html>













<!--<form action=" " >-->
<!--&lt;!&ndash;    cross site request forgery token &ndash;&gt;-->
<!--    {% csrf_token %}-->
<!--    <label for="end_date">Enter a date in this format YYYY-MM-DD: </label>-->
<!--    <input id="end_date" type="text" name="end_date">-->
<!--    <button type="submit"></button>-->
<!--</form>-->
