
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">

    <title>Summer Songs</title>
</head>
<body id="bg" style="background-image: url('{% static "summer_song_app/static/images/sean-oulashin-unsplash.jpg"%}');">
<div class="container text-center">
    <h1 class="text-info"> Hello and welcome to the summer songs app!</h1><br/>
    <h2 class="text-info">Holidays celebrated today, {{ today }} are: </h2> <br/>
<!--    <h2>Today's Holidays are: </h2> <br/>-->
    <table class="table center table-striped table-sm bg-info bg-light">
        {% for day in todays_holidays %}
        <tr>
            <td><h5>{{ day }}</h5></td>
        </tr>
        {% endfor %}
    </table>


    <form action="{% url 'getsongs' %}">
<!--    cross site request forgery token -->
    {% csrf_token %}
<!--        <label for="end_date">Enter a date in this format YYYY-MM-DD: </label>-->
<!--        <input id="end_date" type="text" name="end_date"><br/>-->
        <label for="desired_year" class="text-info">Want to remember a particular summer?  Enter a 4 digit year: </label>
        <input id="desired_year" type="text" name="desired_year"></input><br/><br/>
        <button type="submit" class="btn btn-primary">Enter for your playlists.</button>
    </form>
</div>
<p>Photo by
    <a href="https://unsplash.com/@oulashin?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        Sean Oulashin</a> on
    <a href="https://unsplash.com/s/photos/summer-landscape-background?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </p>
</body>
</html>