<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="p-3 mb-2 bg-info text-dark">
<div class="container text-center">
    <h1>Hello and welcome to the summer songs app!</h1><br/><br/>
    <h2>Today is {{ today }} </h2> <br/>
    <h2>Today's Holidays Are: </h2> <br/>
    <table class="table center">
        {% for day in todays_holidays %}
        <tr>
            <td><h3>{{ day }}</h3></td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>