<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Title</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<div class="container text-center">
    <h1><a href="{{ spotify_url }}" target="_blank">{{ song_name }}</a></h1>
    <h1>
        {% for song in playlist %}
        <a href="{{ song.1 }}" target="blank"> {{ song.0 }}<br></a>
        {% endfor %}
    </h1>
</div>
</body>
</html>